{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Provider name</td>
                <td scope="col">edited at</td>
                <td scope="col">created at</td>
                <td scope="col">Edit</td>
                <td scope="col">Delete</td>
            </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td>
                    {% if provider.active %}
                        <span>{{provider.name}}</span>
                    {% else %}
                        <span class="text-muted">{{provider.name}}</span>
                    {% endif %}
                </td>
                <td>{{ provider.updatedAt|date('d-m-Y H:i:s') }}</td>
                <td>{{ provider.createdAt|date('d-m-Y H:i:s') }}</td>
                <td><a href="{{ path('provider_edit', {'id': provider.id}) }}" title="Edit provider"><i class="bi bi-pencil"></i></a></td>
                <td><a href="{{ path('provider_delete', {'id': provider.id}) }}" title="Delete provider"><i class="bi bi-trash3 text-danger"></i></a></td>
            </tr>
        {% endfor %}
        {% if providers is empty %}
        <tr>
            <td colspan="5" class="text-center font-italic">There are not providers yet.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('provider_create') }}" role="button">Create provider</a>
    {% block content %}{% endblock %}
{% endblock %}