{% extends 'base.html.twig' %}
    {% block body %}
        <div class="mt-4 mb-2">
            {% include 'shared/backLink.html.twig' %}
        </div>
        <div class="mt-2 mb-4">
            {% include 'shared/viewTitle.html.twig' with {'title': view_title} %}
        </div>
        {{ form_start(provider_form) }}
            {{ form_row(provider_form.name) }}
            {{ form_row(provider_form.email) }}
            {{ form_row(provider_form.phone) }}
            {{ form_row(provider_form.active) }}
            {{ form_row(provider_form.type) }}
            {{ form_row(provider_form.send, { 'label': form_button_label }) }}
        {{ form_end(provider_form) }}
    {% block content %}{% endblock %}
{% endblock %}